<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
   <div class="about screen-view">
     <h1>Sweeper - PDF Guard, Msc Computer Security</h1>
     <ul>
      <li><strong>Prepared By:</strong></li>
      <li>Saajan Maharjan</li>
      <li>Oluwatosin Fasanmi</li>
      <li>Abdallah Ahmed hamdan ahmed</li>
      <li>Shirondev Naresh newton</li>
     </ul>
   </div>
  </body>
</html>